{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="about">
    <h2>About Me</h2>
    <p>
        Passionate about data-driven problem-solving, I bring full-stack development experience with the MERN stack alongside my evolving skills in data analysis. Proficient in Python libraries and exploratory data analysis (EDA), I’m transitioning to data-focused roles and excited to apply my skills in impactful projects. My solid foundation in web technologies enhances my ability to bridge technical and analytical domains.
    </p>
    </div>
</body>
</html>